.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.DS_Store
.idea
*.mp4
*.avi
*.mov
logs/
generated_videos/
content_generation/video_generator/generated_images/
content_generation/video_generator/generated_videos/
content_generation/video_handler/texted_video/
publications/youtube_publication/client_secret_*.json
publications/youtube_publication/token.json 