# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
dist/
build/
venv/
.venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Env
.env

# Media
*.mp4

# Token/Secrets
*.json
*.token

# Кэш
.cache/
*.tmp 